<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="webservSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="webservSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44331/webserv.asmx" binding="basicHttpBinding"
                bindingConfiguration="webservSoap" contract="clienteservicereference.webservSoap"
                name="webservSoap" />
        </client>
    </system.serviceModel>
</configuration>